services:
  investiq-postgres:
    image: "postgres:18"
    command: -c 'max_connections=${POSTGRES_MAX_CONNECTIONS}'
    container_name: "investiq-postgres"
    restart: "unless-stopped"
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - investiq-pg-data:/var/lib/postgresql/18/docker
      - ./.postgres/init:/docker-entrypoint-initdb.d:ro

volumes:
  investiq-pg-data:
