name: CI

on:
  push:
    paths:
      - 'backend/**'
      - 'frontend/**'
  pull_request:
    paths:
      - 'backend/**'
      - 'frontend/**'
  workflow_dispatch:

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      backend: ${{ steps.detect.outputs.backend }}
      frontend: ${{ steps.detect.outputs.frontend }}
    steps:
      - uses: actions/checkout@v4

      - id: detect
        run: |
          if [[ "${GITHUB_EVENT_NAME}" == "workflow_dispatch" || $(git diff --name-only ${{ github.sha }} ${{ github.event.before }} | grep -q '^backend/') ]]; then
            echo "backend=true" >> $GITHUB_OUTPUT
          else
            echo "backend=false" >> $GITHUB_OUTPUT
          fi

          if [[ "${GITHUB_EVENT_NAME}" == "workflow_dispatch" || $(git diff --name-only ${{ github.sha }} ${{ github.event.before }} | grep -q '^frontend/') ]]; then
            echo "frontend=true" >> $GITHUB_OUTPUT
          else
            echo "frontend=false" >> $GITHUB_OUTPUT
          fi

  backend:
    needs: changes
    if: ${{ needs.changes.outputs.backend == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
      - run: chmod +x ./gradlew
        working-directory: backend
      - run: ./gradlew build
        working-directory: backend

  frontend:
    needs: changes
    if: ${{ needs.changes.outputs.frontend == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: 'npm'
          cache-dependency-path: './frontend/package-lock.json'
      - run: npm ci
        working-directory: frontend
      - run: npm run build
        working-directory: frontend
      - run: npm test
        working-directory: frontend
